# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using `surprise`. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives

In this lab you will:

- Use surprise's built-in reader class to process data to work with recommender algorithms
- Obtain a prediction for a specific user for a particular item
- Introduce a new user with rating to a rating matrix and make recommendations for them
- Create a function that will return the top n recommendations for a user

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last lesson, you were exposed to working with `surprise` datasets. In this lab, you will also go through the process of reading in a dataset into the `surprise` dataset format. To begin with, load the dataset into a Pandas DataFrame. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [13]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/learn-co-curriculum/dsc-implementing-recommender-systems-lab/solution/ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [14]:
# Drop unnecessary columns
new_df = df.drop(['timestamp'], axis=1)

It's now time to transform the dataset into something compatible with `surprise`. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [15]:
from csv import reader
from surprise import Reader, Dataset
# read in values as Surprise dataset
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(new_df[['userId', 'movieId', 'rating']], reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [16]:
dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

## Determine the best model

Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [17]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [22]:
## Perform a gridsearch with SVD
# ‚è∞ This cell may take several minutes to run
grid = {'n_factors': [20, 50, 100], 'reg_all': [0.02, 0.05, 0.1]}
gs = GridSearchCV(SVD, grid, measures=['rmse'], cv=5)
gs.fit(data)

In [23]:
# print out optimal parameters for SVD after GridSearch
print(gs.best_score)
print(gs.best_params)

{'rmse': 0.8688127993399138}
{'rmse': {'n_factors': 50, 'reg_all': 0.05}}

In [24]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)

In [25]:
# print out the average RMSE score for the test set
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.9695227 , 0.97857953, 0.9755413 , 0.96626515, 0.97840255]))
('test_mae', array([0.7470977 , 0.75753285, 0.75069514, 0.74813384, 0.75597965]))
('fit_time', (0.3644425868988037, 0.3739161491394043, 0.9674525260925293, 0.7724816799163818, 0.2317192554473877))
('test_time', (2.338921546936035, 2.796525478363037, 2.217702865600586, 2.2208666801452637, 1.0720868110656738))
-----------------------
0.9736622456447407

In [28]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options={'name':'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline, data)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [31]:
# print out the average score for the test set
for i in cv_knn_baseline.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_baseline['test_rmse']))

('test_rmse', array([0.88239567, 0.87576531, 0.88046289, 0.87702209, 0.88098078]))
('test_mae', array([0.67543492, 0.66905728, 0.67356185, 0.66589639, 0.67429281]))
('fit_time', (0.5047173500061035, 0.5287642478942871, 0.5695147514343262, 0.4952576160430908, 0.7140092849731445))
('test_time', (1.7394163608551025, 1.5931529998779297, 1.7239010334014893, 2.0228629112243652, 1.9814865589141846))
-----------------------
0.8793253479814688

Based off these outputs, it seems like the best performing model is the SVD model with `n_factors = 50` and a regularization rate of 0.05. Use that model or if you found one that performs better, feel free to use that to make some predictions.

## Making Recommendations

It's important that the output for the recommendation is interpretable to people. Rather than returning the `movie_id` values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peek at what information we have about them.

In [33]:
df_movies = pd.read_csv('https://raw.githubusercontent.com/learn-co-curriculum/dsc-implementing-recommender-systems-lab/solution/ml-latest-small/movies.csv')

In [34]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [35]:
svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [36]:
svd.predict(2, 4)

Prediction(uid=2, iid=4, r_ui=None, est=3.130691706262779, details={'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step is to create a function that allows us to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it.

The function `movie_rater()` should take as parameters:

* `movie_df`: DataFrame - a dataframe containing the movie ids, name of movie, and genres
* `num`: int - number of ratings
* `genre`: string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int , 'movieId': int , 'rating': float}

#### This function is optional, but fun :)

In [38]:
def movie_rater(movie_df,num, genre=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
        if rating == 'n':
            continue
        else:
            rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
            rating_list.append(rating_one_movie)
            num -= 1
    return rating_list

In [39]:
# try out the new function here!
user_rating = movie_rater(df_movies, 4, 'Action')

      movieId                              title  \
4527     6709  Once Upon a Time in Mexico (2003)

                               genres
4527  Action|Adventure|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId         title  genres
1201     1599  Steel (1997)  Action
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                      title         genres
1908     2532  Conquest of the Planet of the Apes (1972)  Action|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                               title  \
6675    57640  Hellboy II: The Golden Army (2008)

                               genres
6675  Action|Adventure|Fantasy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId                                       title  \
1058     1375  Star Trek III: The Search for Spock (1984)

                       genres
1058  Action|Adventure|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title                     genres
1126     1473  Best Men (1997)  Action|Comedy|Crime|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId           title                             genres
594      736  Twister (1996)  Action|Adventure|Romance|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title         genres
7177    72171  Black Dynamite (2009)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                             title  \
9617   177285  Sword Art Online The Movie: Ordinal Scale (2017)

                                         genres
9617  Action|Adventure|Animation|Fantasy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title                       genres
4242     6185  Dark Blue (2003)  Action|Crime|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                       title                   genres
1859     2471  Crocodile Dundee II (1988)  Action|Adventure|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId             title               genres
8204   103372  Heat, The (2013)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title                  genres
8261   105020  Collision Course (1989)  Action|Comedy|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId             title                  genres
136      163  Desperado (1995)  Action|Romance|Western
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId             title                                   genres
6076    41569  King Kong (2005)  Action|Adventure|Drama|Fantasy|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId        title         genres
5346     8912  Taxi (2004)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId                   title         genres
9703   185435  Game Over, Man! (2018)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                   title         genres
1056     1373  Star Trek V: The Final Frontier (1989)  Action|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
5039     7844  Legend, The (Legend of Fong Sai-Yuk, The) (Fon...

             genres
5039  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title                               genres
8651   120637  Blackhat (2015)  Action|Crime|Drama|Mystery|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                        title  \
7774    91630  Mission: Impossible - Ghost Protocol (2011)

                              genres
7774  Action|Adventure|Thriller|IMAX
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [ ]:
user_rating

[{'userId': 1000, 'movieId': 55245, 'rating': '5'},
 {'userId': 1000, 'movieId': 2491, 'rating': '4'},
 {'userId': 1000, 'movieId': 4718, 'rating': '4'},
 {'userId': 1000, 'movieId': 5990, 'rating': '3'}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a `surprise` dataset
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [43]:
## add the new ratings to the original ratings DataFrame
user_ratings = pd.DataFrame(user_rating)
new_ratings_df = pd.concat([new_df, user_ratings], axis=0)
new_data = Dataset.load_from_df(new_ratings_df,reader)

In [45]:
# train a model using the new combined DataFrame
svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [46]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)
list_of_movies = []
for m_id in new_df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [47]:
# order the predictions from highest to lowest rated
ranked_movies = sorted(list_of_movies, key=lambda x:x[1], reverse=True)

 For the final component of this challenge, it could be useful to create a function `recommended_movies()` that takes in the parameters:
* `user_ratings`: list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df`: DataFrame
* `n`: int - number of recommended movies

The function should use a `for` loop to print out each recommended *n* movies in order from best to worst

In [48]:
# return the top n recommendations using the
def recommended_movies(user_ratings,movie_title_df,n):
        for idx, rec in enumerate(user_ratings):
            title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
            print('Recommendation # ', idx+1, ': ', title, '\n')
            n-= 1
            if n == 0:
                break

recommended_movies(ranked_movies,df_movies,5)

Recommendation #  1 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  2 :  863    Monty Python and the Holy Grail (1975)
Name: title, dtype: object

Recommendation #  3 :  224    Star Wars: Episode IV - A New Hope (1977)
Name: title, dtype: object

Recommendation #  4 :  686    Rear Window (1954)
Name: title, dtype: object

Recommendation #  5 :  841    Streetcar Named Desire, A (1951)
Name: title, dtype: object

## Level Up (Optional)

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top $n$ recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the chance to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will learn how to use Spark to make recommender systems.